---
import SiteLayout from "../layouts/siteLayout.astro";
import { LogoIcon } from "@repo/ui/icons";
---

<SiteLayout>
  <!-- Hero Section -->
  <section
    id="hero-section"
    class="grid place-items-center w-full bg-[url(/landing-page-hero.png)] bg-cover bg-center h-[90dvh] md:h-[85dvh]"
  >
    <div class="z-30 flex h-full w-full flex-col">
      <div
        class="font-headings text-light-brown flex h-full w-full flex-col items-center justify-center px-4"
      >
        <div
          class="flex flex-col items-center justify-center gap-4 md:flex-row md:gap-0"
        >
          <LogoIcon
            className="w-20 h-20 md:w-32 md:h-32 md:mr-8 drop-shadow-lg"
            color="#262626"
          />
          <div class="space-y-2 text-center md:text-left">
            <h1
              class="text-dark-brown text-3xl font-normal tracking-wide drop-shadow-lg md:text-6xl"
            >
              sweat smarter,
            </h1>
            <h1
              class="text-dark-brown text-4xl font-bold tracking-wide drop-shadow-lg md:text-7xl"
            >
              live stronger.
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Slogan Section -->
  <section
    id="slogan-section"
    class="bg-beige grid min-h-[50dvh] place-items-center p-4 md:p-8"
  >
    <p class="font-body text-dark-brown text-center text-lg md:text-2xl">
      at <span class="font-bold">builtwithhabit,</span><br />our
      <span class="font-bold">tailored personal training programs</span> and
      <span class="font-bold">skin-safe high-performance activewear</span><br />
      meet your body where it's at and supports where it's going.
    </p>
  </section>
</SiteLayout>
