---
import { Logo, Navbar, SearchBar } from ".";
---

<header>
  <div class="grid grid-cols-3 items-center">
    <div class="flex w-full justify-start">
      <SearchBar client:load />
    </div>
    <div class="flex w-full justify-center">
      <a href="/"><Logo /></a>
    </div>
    <div class="flex w-full justify-end">TODO: Icons</div>
  </div>
  <Navbar />
</header>
